@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .main-background {
    background: rgb(2, 33, 64);
    background: linear-gradient(
      90deg,
      rgba(2, 33, 64, 1) 0%,
      rgba(38, 80, 119, 1) 100%
    );
  }

  .title::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 50px;
    margin-left: 5px;
    background-color: black;
    animation: blink-caret .6s ease infinite;
  }

  .project-background {
    background-color: rgba(0, 0, 0, 0.3);
  }

  @keyframes blink-caret {
    0% {
      background-color: transparent;
    }
    50% {
      background-color: black;
    }
    100% {
      background-color: transparent;
    }
  }
}

@layer components {
  .hero-section-button {
    @apply text-white border border-white rounded-lg py-2 px-6 text-lg me-4 transition duration-300 hover:bg-white hover:text-lightBlue
  }
}